Connected Services/TripasDeGatoServicio/item4.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/TripasService.Logic" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/TripasService.Logic" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8082/?xsd=xsd5" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:complexType name="ArrayOfLobby">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Lobby" nillable="true" type="tns:Lobby" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfLobby" nillable="true" type="tns:ArrayOfLobby" />
  <xs:complexType name="Lobby">
    <xs:sequence>
      <xs:element minOccurs="0" name="Code" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="GameName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NodeCount" type="xs:int" />
      <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="Players" nillable="true" type="q1:ArrayOfKeyValueOfstringProfiledJUIlwiz" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Lobby" nillable="true" type="tns:Lobby" />
</xs:schema>