Connected Services/TripasDeGatoServicio/item2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/TripasService.Logic" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/TripasService.Logic" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8082/?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/TripasService.Utils" />
  <xs:import schemaLocation="http://localhost:8082/?xsd=xsd5" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:complexType name="LoginUser">
    <xs:sequence>
      <xs:element minOccurs="0" name="IdLoginUser" type="xs:int" />
      <xs:element minOccurs="0" name="Mail" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Password" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="LoginUser" nillable="true" type="tns:LoginUser" />
  <xs:complexType name="Profile">
    <xs:sequence>
      <xs:element minOccurs="0" name="IdProfile" type="xs:int" />
      <xs:element minOccurs="0" name="PicturePath" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Score" type="xs:int" />
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/TripasService.Utils" minOccurs="0" name="Status" type="q1:GameEnums.PlayerStatus" />
      <xs:element minOccurs="0" name="Username" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Profile" nillable="true" type="tns:Profile" />
  <xs:complexType name="ArrayOfProfile">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Profile" nillable="true" type="tns:Profile" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfProfile" nillable="true" type="tns:ArrayOfProfile" />
  <xs:complexType name="Message">
    <xs:sequence>
      <xs:element minOccurs="0" name="ChatMessage" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Username" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Message" nillable="true" type="tns:Message" />
  <xs:complexType name="ArrayOfLobby">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Lobby" nillable="true" type="tns:Lobby" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfLobby" nillable="true" type="tns:ArrayOfLobby" />
  <xs:complexType name="Lobby">
    <xs:sequence>
      <xs:element minOccurs="0" name="Code" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="GameName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NodeCount" type="xs:int" />
      <xs:element xmlns:q2="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="Players" nillable="true" type="q2:ArrayOfKeyValueOfstringProfileNMlWG8Ac" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Lobby" nillable="true" type="tns:Lobby" />
  <xs:complexType name="Trace">
    <xs:sequence>
      <xs:element minOccurs="0" name="Color" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EndNode" nillable="true" type="tns:Node" />
      <xs:element minOccurs="0" name="Player" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="StartNode" nillable="true" type="tns:Node" />
      <xs:element minOccurs="0" name="Timestamp" type="xs:dateTime" />
      <xs:element minOccurs="0" name="TracePoints" nillable="true" type="tns:ArrayOfTracePoint" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Trace" nillable="true" type="tns:Trace" />
  <xs:complexType name="Node">
    <xs:sequence>
      <xs:element minOccurs="0" name="Color" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" nillable="true" type="xs:string" />
      <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/TripasService.Utils" minOccurs="0" name="Status" type="q3:GameEnums.NodeStatus" />
      <xs:element minOccurs="0" name="X" type="xs:double" />
      <xs:element minOccurs="0" name="Y" type="xs:double" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Node" nillable="true" type="tns:Node" />
  <xs:complexType name="ArrayOfTracePoint">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="TracePoint" nillable="true" type="tns:TracePoint" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTracePoint" nillable="true" type="tns:ArrayOfTracePoint" />
  <xs:complexType name="TracePoint">
    <xs:sequence>
      <xs:element minOccurs="0" name="X" type="xs:double" />
      <xs:element minOccurs="0" name="Y" type="xs:double" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TracePoint" nillable="true" type="tns:TracePoint" />
  <xs:complexType name="ArrayOfNode">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Node" nillable="true" type="tns:Node" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfNode" nillable="true" type="tns:ArrayOfNode" />
</xs:schema>