Connected Services/TripasDeGatoServicio/item.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/TripasService.Contracts" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/TripasService.Contracts" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="LoginUser">
    <xs:sequence>
      <xs:element minOccurs="0" name="idLoginUser" type="xs:int" />
      <xs:element minOccurs="0" name="mail" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="LoginUser" nillable="true" type="tns:LoginUser" />
  <xs:complexType name="Profile">
    <xs:sequence>
      <xs:element minOccurs="0" name="idProfile" type="xs:int" />
      <xs:element minOccurs="0" name="picturePath" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="score" type="xs:int" />
      <xs:element minOccurs="0" name="userName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Profile" nillable="true" type="tns:Profile" />
</xs:schema>