Connected Services/TripasDeGatoServicio/TripasGameService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns="http://tempuri.org/" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" name="TripasGameService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="NetTcpBinding_IUserManager_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <msb:BinaryEncoding xmlns:msb="http://schemas.microsoft.com/ws/06/2004/mspolicy/netbinary1" />
        <sp:TransportBinding xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:TransportToken>
              <wsp:Policy>
                <msf:WindowsTransportSecurity xmlns:msf="http://schemas.microsoft.com/ws/2006/05/framing/policy">
                  <msf:ProtectionLevel>EncryptAndSign</msf:ProtectionLevel>
                </msf:WindowsTransportSecurity>
              </wsp:Policy>
            </sp:TransportToken>
            <sp:AlgorithmSuite>
              <wsp:Policy>
                <sp:Basic256 />
              </wsp:Policy>
            </sp:AlgorithmSuite>
            <sp:Layout>
              <wsp:Policy>
                <sp:Strict />
              </wsp:Policy>
            </sp:Layout>
          </wsp:Policy>
        </sp:TransportBinding>
        <wsaw:UsingAddressing />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsp:Policy wsu:Id="NetTcpBinding_IFriendsManager_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <msb:BinaryEncoding xmlns:msb="http://schemas.microsoft.com/ws/06/2004/mspolicy/netbinary1" />
        <sp:TransportBinding xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:TransportToken>
              <wsp:Policy>
                <msf:WindowsTransportSecurity xmlns:msf="http://schemas.microsoft.com/ws/2006/05/framing/policy">
                  <msf:ProtectionLevel>EncryptAndSign</msf:ProtectionLevel>
                </msf:WindowsTransportSecurity>
              </wsp:Policy>
            </sp:TransportToken>
            <sp:AlgorithmSuite>
              <wsp:Policy>
                <sp:Basic256 />
              </wsp:Policy>
            </sp:AlgorithmSuite>
            <sp:Layout>
              <wsp:Policy>
                <sp:Strict />
              </wsp:Policy>
            </sp:Layout>
          </wsp:Policy>
        </sp:TransportBinding>
        <wsaw:UsingAddressing />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsp:Policy wsu:Id="NetTcpBinding_IChatManager_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <msb:BinaryEncoding xmlns:msb="http://schemas.microsoft.com/ws/06/2004/mspolicy/netbinary1" />
        <sp:TransportBinding xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:TransportToken>
              <wsp:Policy>
                <msf:WindowsTransportSecurity xmlns:msf="http://schemas.microsoft.com/ws/2006/05/framing/policy">
                  <msf:ProtectionLevel>EncryptAndSign</msf:ProtectionLevel>
                </msf:WindowsTransportSecurity>
              </wsp:Policy>
            </sp:TransportToken>
            <sp:AlgorithmSuite>
              <wsp:Policy>
                <sp:Basic256 />
              </wsp:Policy>
            </sp:AlgorithmSuite>
            <sp:Layout>
              <wsp:Policy>
                <sp:Strict />
              </wsp:Policy>
            </sp:Layout>
          </wsp:Policy>
        </sp:TransportBinding>
        <wsaw:UsingAddressing />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:8082/?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:8082/?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:8082/?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/TripasService.Contracts" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IUserManager_createAccount_InputMessage">
    <wsdl:part name="parameters" element="tns:createAccount" />
  </wsdl:message>
  <wsdl:message name="IUserManager_createAccount_OutputMessage">
    <wsdl:part name="parameters" element="tns:createAccountResponse" />
  </wsdl:message>
  <wsdl:message name="IUserManager_updateProfile_InputMessage">
    <wsdl:part name="parameters" element="tns:updateProfile" />
  </wsdl:message>
  <wsdl:message name="IUserManager_updateProfile_OutputMessage">
    <wsdl:part name="parameters" element="tns:updateProfileResponse" />
  </wsdl:message>
  <wsdl:message name="IUserManager_getProfile_InputMessage">
    <wsdl:part name="parameters" element="tns:getProfile" />
  </wsdl:message>
  <wsdl:message name="IUserManager_getProfile_OutputMessage">
    <wsdl:part name="parameters" element="tns:getProfileResponse" />
  </wsdl:message>
  <wsdl:message name="IUserManager_verifyLogin_InputMessage">
    <wsdl:part name="parameters" element="tns:verifyLogin" />
  </wsdl:message>
  <wsdl:message name="IUserManager_verifyLogin_OutputMessage">
    <wsdl:part name="parameters" element="tns:verifyLoginResponse" />
  </wsdl:message>
  <wsdl:message name="IUserManager_getProfileId_InputMessage">
    <wsdl:part name="parameters" element="tns:getProfileId" />
  </wsdl:message>
  <wsdl:message name="IUserManager_getProfileId_OutputMessage">
    <wsdl:part name="parameters" element="tns:getProfileIdResponse" />
  </wsdl:message>
  <wsdl:message name="IUserManager_getProfileId_ProfileNotFoundFaultFault_FaultMessage">
    <wsdl:part xmlns:q1="http://schemas.datacontract.org/2004/07/TripasService.Contracts" name="detail" element="q1:ProfileNotFoundFault" />
  </wsdl:message>
  <wsdl:message name="IUserManager_isEmailRegistered_InputMessage">
    <wsdl:part name="parameters" element="tns:isEmailRegistered" />
  </wsdl:message>
  <wsdl:message name="IUserManager_isEmailRegistered_OutputMessage">
    <wsdl:part name="parameters" element="tns:isEmailRegisteredResponse" />
  </wsdl:message>
  <wsdl:message name="IUserManager_updateProfileName_InputMessage">
    <wsdl:part name="parameters" element="tns:updateProfileName" />
  </wsdl:message>
  <wsdl:message name="IUserManager_updateProfileName_OutputMessage">
    <wsdl:part name="parameters" element="tns:updateProfileNameResponse" />
  </wsdl:message>
  <wsdl:message name="IUserManager_updateProfilePic_InputMessage">
    <wsdl:part name="parameters" element="tns:updateProfilePic" />
  </wsdl:message>
  <wsdl:message name="IUserManager_updateProfilePic_OutputMessage">
    <wsdl:part name="parameters" element="tns:updateProfilePicResponse" />
  </wsdl:message>
  <wsdl:message name="IUserManager_updateLoginPassword_InputMessage">
    <wsdl:part name="parameters" element="tns:updateLoginPassword" />
  </wsdl:message>
  <wsdl:message name="IUserManager_updateLoginPassword_OutputMessage">
    <wsdl:part name="parameters" element="tns:updateLoginPasswordResponse" />
  </wsdl:message>
  <wsdl:message name="IFriendsManager_addFriend_InputMessage">
    <wsdl:part name="parameters" element="tns:addFriend" />
  </wsdl:message>
  <wsdl:message name="IFriendsManager_addFriend_OutputMessage">
    <wsdl:part name="parameters" element="tns:addFriendResponse" />
  </wsdl:message>
  <wsdl:message name="IFriendsManager_deleteFriend_InputMessage">
    <wsdl:part name="parameters" element="tns:deleteFriend" />
  </wsdl:message>
  <wsdl:message name="IFriendsManager_deleteFriend_OutputMessage">
    <wsdl:part name="parameters" element="tns:deleteFriendResponse" />
  </wsdl:message>
  <wsdl:message name="IFriendsManager_deleteFriendship_InputMessage">
    <wsdl:part name="parameters" element="tns:deleteFriendship" />
  </wsdl:message>
  <wsdl:message name="IFriendsManager_deleteFriendship_OutputMessage">
    <wsdl:part name="parameters" element="tns:deleteFriendshipResponse" />
  </wsdl:message>
  <wsdl:message name="IFriendsManager_getFriends_InputMessage">
    <wsdl:part name="parameters" element="tns:getFriends" />
  </wsdl:message>
  <wsdl:message name="IFriendsManager_getFriends_OutputMessage">
    <wsdl:part name="parameters" element="tns:getFriendsResponse" />
  </wsdl:message>
  <wsdl:message name="IChatManager_sendMessage_InputMessage">
    <wsdl:part name="parameters" element="tns:sendMessage" />
  </wsdl:message>
  <wsdl:message name="IChatManager_sendMessage_OutputMessage">
    <wsdl:part name="parameters" element="tns:sendMessageResponse" />
  </wsdl:message>
  <wsdl:message name="IChatManager_connectToLobby_InputMessage">
    <wsdl:part name="parameters" element="tns:connectToLobby" />
  </wsdl:message>
  <wsdl:message name="IChatManager_connectToLobby_OutputMessage">
    <wsdl:part name="parameters" element="tns:connectToLobbyResponse" />
  </wsdl:message>
  <wsdl:message name="IChatManager_leaveLobby_InputMessage">
    <wsdl:part name="parameters" element="tns:leaveLobby" />
  </wsdl:message>
  <wsdl:message name="IChatManager_leaveLobby_OutputMessage">
    <wsdl:part name="parameters" element="tns:leaveLobbyResponse" />
  </wsdl:message>
  <wsdl:message name="IChatManager_getMessageHistory_InputMessage">
    <wsdl:part name="parameters" element="tns:getMessageHistory" />
  </wsdl:message>
  <wsdl:message name="IChatManager_getMessageHistory_OutputMessage">
    <wsdl:part name="parameters" element="tns:getMessageHistoryResponse" />
  </wsdl:message>
  <wsdl:message name="IChatManager_broadcastMessage_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:broadcastMessage" />
  </wsdl:message>
  <wsdl:portType name="IUserManager">
    <wsdl:operation name="createAccount">
      <wsdl:input wsaw:Action="http://tempuri.org/IUserManager/createAccount" message="tns:IUserManager_createAccount_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUserManager/createAccountResponse" message="tns:IUserManager_createAccount_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="updateProfile">
      <wsdl:input wsaw:Action="http://tempuri.org/IUserManager/updateProfile" message="tns:IUserManager_updateProfile_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUserManager/updateProfileResponse" message="tns:IUserManager_updateProfile_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getProfile">
      <wsdl:input wsaw:Action="http://tempuri.org/IUserManager/getProfile" message="tns:IUserManager_getProfile_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUserManager/getProfileResponse" message="tns:IUserManager_getProfile_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="verifyLogin">
      <wsdl:input wsaw:Action="http://tempuri.org/IUserManager/verifyLogin" message="tns:IUserManager_verifyLogin_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUserManager/verifyLoginResponse" message="tns:IUserManager_verifyLogin_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getProfileId">
      <wsdl:input wsaw:Action="http://tempuri.org/IUserManager/getProfileId" message="tns:IUserManager_getProfileId_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUserManager/getProfileIdResponse" message="tns:IUserManager_getProfileId_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IUserManager/getProfileIdProfileNotFoundFaultFault" name="ProfileNotFoundFaultFault" message="tns:IUserManager_getProfileId_ProfileNotFoundFaultFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="isEmailRegistered">
      <wsdl:input wsaw:Action="http://tempuri.org/IUserManager/isEmailRegistered" message="tns:IUserManager_isEmailRegistered_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUserManager/isEmailRegisteredResponse" message="tns:IUserManager_isEmailRegistered_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="updateProfileName">
      <wsdl:input wsaw:Action="http://tempuri.org/IUserManager/updateProfileName" message="tns:IUserManager_updateProfileName_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUserManager/updateProfileNameResponse" message="tns:IUserManager_updateProfileName_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="updateProfilePic">
      <wsdl:input wsaw:Action="http://tempuri.org/IUserManager/updateProfilePic" message="tns:IUserManager_updateProfilePic_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUserManager/updateProfilePicResponse" message="tns:IUserManager_updateProfilePic_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="updateLoginPassword">
      <wsdl:input wsaw:Action="http://tempuri.org/IUserManager/updateLoginPassword" message="tns:IUserManager_updateLoginPassword_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUserManager/updateLoginPasswordResponse" message="tns:IUserManager_updateLoginPassword_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="IFriendsManager">
    <wsdl:operation name="addFriend">
      <wsdl:input wsaw:Action="http://tempuri.org/IFriendsManager/addFriend" message="tns:IFriendsManager_addFriend_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IFriendsManager/addFriendResponse" message="tns:IFriendsManager_addFriend_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="deleteFriend">
      <wsdl:input wsaw:Action="http://tempuri.org/IFriendsManager/deleteFriend" message="tns:IFriendsManager_deleteFriend_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IFriendsManager/deleteFriendResponse" message="tns:IFriendsManager_deleteFriend_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="deleteFriendship">
      <wsdl:input wsaw:Action="http://tempuri.org/IFriendsManager/deleteFriendship" message="tns:IFriendsManager_deleteFriendship_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IFriendsManager/deleteFriendshipResponse" message="tns:IFriendsManager_deleteFriendship_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getFriends">
      <wsdl:input wsaw:Action="http://tempuri.org/IFriendsManager/getFriends" message="tns:IFriendsManager_getFriends_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IFriendsManager/getFriendsResponse" message="tns:IFriendsManager_getFriends_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="IChatManager">
    <wsdl:operation name="sendMessage">
      <wsdl:input wsaw:Action="http://tempuri.org/IChatManager/sendMessage" message="tns:IChatManager_sendMessage_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IChatManager/sendMessageResponse" message="tns:IChatManager_sendMessage_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="connectToLobby">
      <wsdl:input wsaw:Action="http://tempuri.org/IChatManager/connectToLobby" message="tns:IChatManager_connectToLobby_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IChatManager/connectToLobbyResponse" message="tns:IChatManager_connectToLobby_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="leaveLobby">
      <wsdl:input wsaw:Action="http://tempuri.org/IChatManager/leaveLobby" message="tns:IChatManager_leaveLobby_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IChatManager/leaveLobbyResponse" message="tns:IChatManager_leaveLobby_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getMessageHistory">
      <wsdl:input wsaw:Action="http://tempuri.org/IChatManager/getMessageHistory" message="tns:IChatManager_getMessageHistory_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IChatManager/getMessageHistoryResponse" message="tns:IChatManager_getMessageHistory_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="broadcastMessage">
      <wsdl:output wsaw:Action="http://tempuri.org/IChatManager/broadcastMessage" message="tns:IChatManager_broadcastMessage_OutputCallbackMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="NetTcpBinding_IUserManager" type="tns:IUserManager">
    <wsp:PolicyReference URI="#NetTcpBinding_IUserManager_policy" />
    <soap12:binding transport="http://schemas.microsoft.com/soap/tcp" />
    <wsdl:operation name="createAccount">
      <soap12:operation soapAction="http://tempuri.org/IUserManager/createAccount" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="updateProfile">
      <soap12:operation soapAction="http://tempuri.org/IUserManager/updateProfile" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getProfile">
      <soap12:operation soapAction="http://tempuri.org/IUserManager/getProfile" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="verifyLogin">
      <soap12:operation soapAction="http://tempuri.org/IUserManager/verifyLogin" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getProfileId">
      <soap12:operation soapAction="http://tempuri.org/IUserManager/getProfileId" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ProfileNotFoundFaultFault">
        <soap12:fault use="literal" name="ProfileNotFoundFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="isEmailRegistered">
      <soap12:operation soapAction="http://tempuri.org/IUserManager/isEmailRegistered" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="updateProfileName">
      <soap12:operation soapAction="http://tempuri.org/IUserManager/updateProfileName" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="updateProfilePic">
      <soap12:operation soapAction="http://tempuri.org/IUserManager/updateProfilePic" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="updateLoginPassword">
      <soap12:operation soapAction="http://tempuri.org/IUserManager/updateLoginPassword" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="NetTcpBinding_IFriendsManager" type="tns:IFriendsManager">
    <wsp:PolicyReference URI="#NetTcpBinding_IFriendsManager_policy" />
    <soap12:binding transport="http://schemas.microsoft.com/soap/tcp" />
    <wsdl:operation name="addFriend">
      <soap12:operation soapAction="http://tempuri.org/IFriendsManager/addFriend" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="deleteFriend">
      <soap12:operation soapAction="http://tempuri.org/IFriendsManager/deleteFriend" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="deleteFriendship">
      <soap12:operation soapAction="http://tempuri.org/IFriendsManager/deleteFriendship" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getFriends">
      <soap12:operation soapAction="http://tempuri.org/IFriendsManager/getFriends" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="NetTcpBinding_IChatManager" type="tns:IChatManager">
    <wsp:PolicyReference URI="#NetTcpBinding_IChatManager_policy" />
    <soap12:binding transport="http://schemas.microsoft.com/soap/tcp" />
    <wsdl:operation name="sendMessage">
      <soap12:operation soapAction="http://tempuri.org/IChatManager/sendMessage" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="connectToLobby">
      <soap12:operation soapAction="http://tempuri.org/IChatManager/connectToLobby" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="leaveLobby">
      <soap12:operation soapAction="http://tempuri.org/IChatManager/leaveLobby" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getMessageHistory">
      <soap12:operation soapAction="http://tempuri.org/IChatManager/getMessageHistory" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="broadcastMessage">
      <soap12:operation soapAction="http://tempuri.org/IChatManager/broadcastMessage" style="document" />
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="TripasGameService">
    <wsdl:port name="NetTcpBinding_IUserManager" binding="tns:NetTcpBinding_IUserManager">
      <soap12:address location="net.tcp://localhost:8081/UserManager" />
      <wsa10:EndpointReference>
        <wsa10:Address>net.tcp://localhost:8081/UserManager</wsa10:Address>
        <Identity xmlns="http://schemas.xmlsoap.org/ws/2006/02/addressingidentity">
          <Upn>ERICK_ATZIN\abdie</Upn>
        </Identity>
      </wsa10:EndpointReference>
    </wsdl:port>
    <wsdl:port name="NetTcpBinding_IFriendsManager" binding="tns:NetTcpBinding_IFriendsManager">
      <soap12:address location="net.tcp://localhost:8081/FriendsManager" />
      <wsa10:EndpointReference>
        <wsa10:Address>net.tcp://localhost:8081/FriendsManager</wsa10:Address>
        <Identity xmlns="http://schemas.xmlsoap.org/ws/2006/02/addressingidentity">
          <Upn>ERICK_ATZIN\abdie</Upn>
        </Identity>
      </wsa10:EndpointReference>
    </wsdl:port>
    <wsdl:port name="NetTcpBinding_IChatManager" binding="tns:NetTcpBinding_IChatManager">
      <soap12:address location="net.tcp://localhost:8081/ChatManager" />
      <wsa10:EndpointReference>
        <wsa10:Address>net.tcp://localhost:8081/ChatManager</wsa10:Address>
        <Identity xmlns="http://schemas.xmlsoap.org/ws/2006/02/addressingidentity">
          <Upn>ERICK_ATZIN\abdie</Upn>
        </Identity>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>